
body{
background-image: url(../star.jpg);
background-attachment: fixed;
}

h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    padding: 20px;
    margin: 20px;
    display: flex;
}
h1::before, h1::after{
content: "";
flex: 1 1;
border-bottom: 5px solid;
margin: 20px;
}

h2{
    margin-bottom: -18px;
    text-align: center;
    color: white;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: center;
}
table{
    width: auto;
    right: auto;
    margin-left: 411px;
    margin-right: 300px;
    text-align: center;
    margin: 20px;
}
    .submit{
    background: #ff5722;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}


.like{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position:absolute;
    left: 107px;
    margin: -34px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    }

.topnavbar {
    position: fixed;
    color: black ;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    background:white;
    left: 0;
    right: 0;
}

.topnavbar a{
    text-decoration: none;
}

.container{
    margin: 30px;
    overflow:auto ;
}

.gallery{
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

.gallery img{
    width: 100%;
    height: auto;
   size: 2%;
   
}

.topnav{
    display: flex;
    align-items: center;
    color:black;
    padding: 12px;
    font-weight: bold;
    font-size: 0.85rem;

}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li{
    float: left;
}
li:hover{
    background: rgb(137, 141, 141) ;
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #009879;
    border-right: 2px solid#008C71;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);
}

.navbar__link{
    display: flex;
    align-items: center;
    background:#008c71;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
    border-bottom: 1px solid#009879;
}

.navbar__link.material-icons{
margin-right: 12px;
}

.navbar__link:active{
    background: #007d65;
}
.navbar__link:hover{background:#007d65 ;}
